<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>eye sharp</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"/>
    <%- include("./includes/headerPart.ejs") %>
    <style>

/* styles.css */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ddd; /* Light gray borders */
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #333; /* Dark gray table header background */
  color: #fff; /* White text color for table headers */
}


/* styles.css */
.card {
  background-color: #fff; /* White card background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.card-title {
  color: #333; /* Dark text color for card titles */
}


    </style>
  </head>

  <body>
    <!-- Header -->
<%- include('./includes/header.ejs')%>
    <section style="background-color: #eee">
      <div class="container py-5 pt-5">
        <div class="row pt-5">
          <div class="col-lg-8 pt-5">
            <div class="card mb-4">
              <div class="card-body">
                <h4>My Orders</h4>
                <br>     

                <!--================Order Details Area =================-->
                <section class="order_details section_gap">
                    <div class="container">
                        <div class="row order_d_inner">
                            <div class="col-md-6">
                                <div class="details_item">
                                    <h5>Order Info</h5>
                                    <br>
                                    <ul class="list">
                                        <li>Order ID: <%=orders[0]._id%></li>
                                        <li>Date: <%=orders[0].createdAt.toLocaleString()%></li>
                                        <li>Total: ₹<%=orders[0].totalPrice%></li>
                                        <li>Payment method: <%=orders[0].paymentMethod%></a></li>
                                        <li>Payment Status: <%=orders[0].paymentStatus%></a></li>
                                        <li>Transaction Id: <%=orders[0].razorpayId%></li>

                                    </ul>
                                </div>
                            </div>
                        
                            <div class="col-md-6">
                                <div class="details_item">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                         <%=address.item.name%><br>
                                        <%=address.item.address%><br>
                                        <%=address.item.locality%> <br>
                                        <%=address.item.city%> <br>
                                        <%=address.item.pincode%> <br>
                                        <%=address.item.state%>
                                    </p>
                            </div>
                        </div>
                        <div class="order_details_table py-4">
                            <h2>Order Details</h2>
                            <br>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Product</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% products.forEach(function(product,index) {%>

                                        <tr>
                                            <td>
                                                <p><%=product.productName%></p>
                                            </td>
                                            <td>
                                                <p>₹<%=product.productPrice%></p>
                                            </td>
                                            <td>
                                                <h5><%=product.quantity%></h5>
                                            </td>
                                            <td>
                                                <p>₹<%=product.productPrice*product.quantity%></p>
                                            </td>
                                        </tr>
                                        <% }) %>
                                        <!-- <tr>
                                            <td>
                                                <h4>Coupon Code</h4>
                                            </td>
                                            <td>
                                                <h5></h5>
                                            </td>
                                            <td>
                                                <p><%=orders[0].couponCode%></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4>Discount %</h4>
                                            </td>
                                            <td>
                                                <h5></h5>
                                            </td>
                                            <td>
                                                <p><%=orders[0].discountPercentage%> %</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4>Discount Amount</h4>
                                            </td>
                                            <td>
                                                <h5></h5>
                                            </td>
                                            <td>
                                                <p>₹ <%=orders[0].discountAmount%></p>
                                            </td>
                                        </tr> -->
                                    
                                        <tr>
                                            <td>
                                                <h4>Total</h4>
                                            </td>
                                            <td>
                                                <h5></h5>
                                            </td>
                                            <td>
                                                <p>₹ <%=orders[0].totalPrice%></p>
                                            </td>
                                            <!-- <td>
                                                <a href="/invoice?id=<=orders[0]._id%>" class="btn btn-primary">Download Invoice</a>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>

                <!--================End Order Details Area =================-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    </body>
</html>
